[submodule "TelegramDLL/include/tgbot-cpp"]
	path = TelegramDLL/include/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp/
[submodule "TelegramDLL/tgbot-cpp"]
	path = TelegramDLL/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp
[submodule "TelegramDLL/ext"]
	path = TelegramDLL/ext
	url = https://github.com/Pennywise007/ext
